<h1>Image</h1>

<table class="table">
    <tbody>
        <tr>
            <td valign="middle" align="center">
                <img src="~/images/image.jpg" width="100" />
            </td>
        </tr>

    </tbody>
</table>
